@font-face { font-family: pixel; src: url('font/monogram.ttf');}
@font-face { font-family: heroeau; src: url('font/HEROEAU.otf');}

* {
    cursor: none;
}
#custom-cursor {
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: exclusion;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    overflow-x: hidden;
}

#main-bg-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#main-bg-static {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  object-fit: cover;
  opacity: 0.5;
  pointer-events: none;
  z-index: -1;
}

#main-bg-image-blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%) rotate(45deg) scale(4.5);
  transition-timing-function: ease-in-out;
  transform-origin: center center;
  width: 100%;
  height: auto;
  filter: blur(2px);
  mix-blend-mode: darken;
  opacity: 0.25;
  pointer-events: none;
  z-index: 1;
}

#main-text {
    position: relative;
    margin: 0;
    margin-top: -20%;
    color: white;
    font-family: heroeau;
    font-size: 200px;
    z-index: 2;
    text-shadow: 0 0 200px #fff;
}

#main-subtext {
    position: relative;
    letter-spacing: 10px;
    left: 10%;
    margin-top: -8%;
    color: white;
    font-family: pixel;
    font-size: 50px;
    z-index: 2;
}

#info-bg-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 50%;
    transform: translate(-50%, 33%);
    z-index: -1;
    background-color: rgb(22, 22, 22);
}